.accueil {
  .agauche {
    flex-basis: 30%;
  }
}

@media screen and (max-width: 968px) {
  .accueil {
    .adroite {
        position: relative;
        height: 100%;

      .trou-noir {
        position: absolute;
      }
    }
  }
}
