.login-status-wrapper {
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
}

#back-office {
  select,
  option {
    font-size: $s1;
  }

  #response {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    overflow: auto;
    gap: 1rem;
    padding: 1rem 0;
  }
}

#meanings {
  font-family: "DarkerGrotesque" !important;
  font-size: $s2 !important;
}

table {
  width: 100%;
  border-collapse: collapse;
  border: solid white 2px;
  max-height: 70%;
  overflow: auto;
}

tr:first-of-type {
  border: solid white 2px !important;
}

th,
td {
  padding: 0 0.5em 0.3em 0.5em;
  text-align: center;
}

tr:first-of-type {
  position: sticky;
  top: -1rem;
}

tr:nth-child(odd) {
  background: #111;
}

tr:nth-child(even) {
  background: #333;
}

#interpretation {
  input:first-of-type {
    margin-top: 1rem;
    font-size: $s1;
    width: 80%;
  }
}
