#contact-form {
  display: flex;
  flex-flow: row wrap;
  row-gap: 0.5rem;
  column-gap: 1rem;
  box-sizing: border-box;

  border: solid white 1px;
  border-radius: 2rem;
  padding: 1.2rem;
  padding-top: 0.5rem;

  width: 100%;
  height: fit-content !important;

  .page {
    flex-direction: column;
  }

  div.form-field {
    flex: 1 1 auto;
    width: fit-content;
  }

  div.form-field:nth-of-type(1),
  div.form-field:nth-of-type(2) {
    flex-basis: 20%;
  }

  div.form-field:nth-of-type(3) {
    flex-basis: 40%;
  }

  div.form-field:nth-of-type(4) {
    flex-basis: 100%;
  }

  div.form-field:nth-of-type(5) {
    flex-basis: 100%;
  }

  textarea,
  input,
  select {
    width: 100%;
    padding: 0.3rem 0.5rem 0.5rem 0.5rem;
  }

  textarea {
    height: 5rem;
  }

  option {
    padding: 0.5rem;
    padding-top: 0.3rem;
  }

  button[type="submit"] {
    padding: 0.3rem 0.5rem 0.5rem 0.5rem;
    background: lightgray;
    border: transparent;
    border-radius: 0.5rem;
  }
}

@media screen and (max-width: 968px) {
  #contact-form {
    div.form-field:nth-of-type(1),
    div.form-field:nth-of-type(2) {
      flex-basis: 45%;
    }

    div.form-field:nth-of-type(3) {
      flex-basis: 100%;
    }
  }
}
