@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

$appear-delay: 0.75s;

#astro {
  span {
    text-shadow: 0 0 0 white;
    transition: text-shadow 0.5s;

    &:hover {
      text-shadow: 0 0 0.2em #ffffffcc;
    }
  }

  button {
    font-size: $s2;
    border-radius: 0.3rem;
    color: white;
    background: transparent;
    border: solid white 1px;
    border-radius: 2rem;
    padding: 1rem;
    margin-top: 1rem;

    &:hover {
      background: white;
      color: black;
      cursor: pointer;
    }
  }

  #tirage {
    opacity: 1;
    transition: opacity 1s;
    height: 100%;
  }

  .svgs {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #intro,
  #response {
    width: calc(95vmin - 8rem);
    text-align: center;
  }

  #intro {
    display: none;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
  }

  #response {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  #intro,
  .svgs {
    transform: translate(-50%, -50%) rotate(0) scale(0.4);
    transition:
      transform ease-in-out 2s,
      opacity ease-in-out 2s;
  }

  #meaning,
  #resume {
    position: absolute;
    margin: auto;
    width: 100%;
  }

  #meaning {
    $appear-delay: 1.2s;

    padding-left: 0.5em;
    display: none;
    text-align: left;

    flex-flow: column nowrap;
    align-items: center;

    &.display {
      display: block;
    }

    span {
      &:nth-of-type(1) {
        animation: appear 1s both;
        animation-delay: calc(1 * $appear-delay);
      }

      &:nth-of-type(2) {
        animation: appear 1s both;
        animation-delay: calc(2 * $appear-delay);
      }

      &:nth-of-type(3) {
        animation: appear 1s both;
        animation-delay: calc(3 * $appear-delay);
      }
    }
  }

  #inter {
    display: none;
    opacity: 0;

    transition: opacity 1s ease;
    transition-delay: 1s;
    font-size: $s2 !important;
    text-align: left;
    padding: 0 2rem;
    overflow: auto;

    height: 100%;
    width: 100%;

    #sumup {
      padding: 1rem 1.5rem;
      border: solid #fff 1px;
      margin-top: 2rem;
    }

    .tirage-names {
      font-family: "Sinistre";
      text-align: center;
    }

    #interpretation {
      margin-top: 1rem;

      input[type="submit"] {
        margin-left: 1rem;
      }
    }

    #interpretations {
      list-style: outside;
      width: 100%;
      padding-left: 3rem;

      // Petite ombre sympathique
      &::after {
        content: " ";
        position: fixed;
        background: linear-gradient(to top, black, transparent);
        width: 100%;
        height: 15vh;
        display: block;
        z-index: 10;
        bottom: 0px;
        left: 0;
      }

      @for $i from 1 through 15 {
        &:nth-child(15n + #{$i}) {
          padding-left: calc((1 + sin($i / 2)) * 1em);
        }
      }

      li {
        &::marker {
          content: "-  ";
          font-size: $s2;
          font-family: "Sinistre";
          position: relative;
        }

        @for $i from 1 through 15 {
          &:nth-of-type(15n + #{$i}) {
            margin-left: calc((1 + sin(4 + ($i / 2))) * 1em);
          }
        }
      }
    }
  }

  #next-eclipse {
    opacity: 0;
    transition: opacity 1s ease-out;
    position: absolute;
    bottom: 3rem;
  }

  .svgs {
    will-change: transform, opacity;
    // max height et width, le bord du cercle intérieur rentre pile dans l'écran
    width: calc(240vmin - 4rem);
    height: calc(240vmin - 4rem);

    div,
    svg {
      width: 100%;
      height: 100%;
    }
  }

  #response {
    #resume {
      transform: scale(1) translateY(0);
      transition: transform 1s;

      .visuals,
      p {
        cursor: help;
      }

      .visuals {
        height: 25vh;
        margin-bottom: 1rem;
        display: flex;
        gap: $s1;
        flex-flow: row nowrap;
        justify-content: center;

        img {
          max-height: 100%;
          height: auto;
          max-width: calc((100% - (2 * $s1)) / 3);
          width: auto;
        }
      }
    }
  }

  #resume .visuals img,
  #resume p .texte-tirage {
    &:nth-of-type(1) {
      animation: appear 1s both;
      animation-delay: calc(1 * $appear-delay);
    }

    &:nth-of-type(2) {
      animation: appear 1s both;
      animation-delay: calc(2 * $appear-delay);
    }

    &:nth-of-type(3) {
      animation: appear 1s both;
      animation-delay: calc(3 * $appear-delay);
    }
  }

  &.go-astro {
    #tirage {
      opacity: 1;
    }

    &.delayed {
      #response {
        transition-delay: 0.7s;
      }
    }

    .nav {
      opacity: 0;

      &.tirage {
        opacity: 0;
      }
    }

    #intro {
      transform: translate(-50%, -50%) rotate(0) scale(1);

      &.display {
        opacity: 1 !important;
      }

      &:hover {
        transform: translate(-50%, -50%) rotate(0) scale(2);
        opacity: 0;
      }
    }

    // Might FLIP later
    .svgs {
      transform: translate(-50%, -50%) rotate(45deg) scale(1);
    }
  }

  &.baleze {
    #response {
      width: 100%;
    }

    .svgs {
      transform: translate(-50%, -50%) rotate(90deg) scale(2.5);
    }

    #inter {
      opacity: 1;
    }
  }
}
