{% extends 'email/base.html.twig' %}

{% block content %}
    <p>Bonjour {{ form.value.first|e }} ! </p>

    <p>
        Votre message était le suivant :

        <blockquote>
            {{ form.value.message|e}}
        </blockquote>

    </p>

    <p>Merci de m'avoir envoyé votre demande, j'y répondrai dès que possible.</p>

    <p>Bonne journée,</p>

{% endblock %}

{% block footer %}
    <p>
        Camille Ducellier // astrologie - astromancie
    </p>
{% endblock %}
