{% extends 'partials/base.html.twig' %}

{% block content %}

    <section id="back-office" class="page">
        <form onchange="getInfo(event, false)">
            <select name="planets" id="planets">
                <option value="%">Choisir une planète</option>
                <option value="1">Pluton</option>
                <option value="2">Uranus</option>
                <option value="3">Saturne</option>
                <option value="4">Jupiter</option>
                <option value="5">Mars</option>
                <option value="6">Mercure</option>
                <option value="7">Venus</option>
                <option value="8">Lune</option>
                <option value="9">Soleil</option>
                <option value="10">Nœud Nord</option>
                <option value="11">Nœud Sud</option>
                <option value="12">Neptune</option>
            </select>

            <select name="zodiacs" id="zodiacs">
                <option value="%">Choisir un signe du zodiac</option>
                <option value="1">Bélier</option>
                <option value="2">Taureau</option>
                <option value="3">Gémeaux</option>
                <option value="4">Cancer</option>
                <option value="5">Lion</option>
                <option value="6">Vierge</option>
                <option value="7">Balance</option>
                <option value="8">Sagittaire</option>
                <option value="9">Capricorne</option>
                <option value="10">Verseau</option>
                <option value="11">Poisson</option>
                <option value="12">Scorpion</option>
            </select>

            <select name="houses" id="houses">
                <option value="%">Choisir une maison</option>
                <option value="1">MI</option>
                <option value="2">MII</option>
                <option value="3">MIII</option>
                <option value="4">MIV</option>
                <option value="5">MV</option>
                <option value="6">MVI</option>
                <option value="7">MVII</option>
                <option value="8">MVIII</option>
                <option value="9">MIX</option>
                <option value="10">MX</option>
                <option value="11">MXI</option>
                <option value="12">MXII</option>
            </select>

        </form>

        <section id="response"></section>
    </section>

{% endblock %}
