{% extends 'partials/base.html.twig' %}

{% block content %}

    <div class="agauche">
        {{ page.content|raw }}
    </div>

    <div class="adroite">
        {% if page.header.image %}
            {% if page.folder == "01.home" %}
                <span class="trou-noir">[à découvrir prochainement]</span>
                {{ page.media[page.header.image].cropResize(500, 500).attribute("class", "trou-noir").html("Image d'illustration de" ~ p.title)|raw }}

            {% else %}
                {{ page.media[page.header.image].cropResize(500, 500).html("Image d'illustration de" ~ p.title)|raw }}

            {% endif %}

        {% else %}
            {% include "forms/form.html.twig" with { form: forms('contact-form')} %}

        {% endif %}
    </div>

{% endblock %}
