{% extends 'partials/base.html.twig' %}
{% block content %}
    <section class="page" id="astro" aria-label="Accueil">
        <h2 class="title">Tirage d'astromancie</h2>
        <div id="tirage">
            {% include 'partials/trou-noir/trou-noir.html.twig' %}
            <p id="intro" class="center" onclick="tirage(this)">
                Concentre ton attention dans le trou noir en pensant fortement à une question précise. Clique au centre pour découvrir la réponse à ton tirage.
            </p>
            <div class="center" id="response"></div>
        </div>
        <nav class="nav top tirage">
            <a href="#astro" onclick="goAstro(false)">Tirage <span class="desktop">d'astromancie</span> <span class="fleche">￪</span></a>
        </nav>
        <nav class="nav bottom">
            <a href="#consultations" onclick="offAstro('astro', 'consultations')">Consultations <span class="desktop">d'astrologie</span> <span class="fleche">￬</span></a>
        </nav>
    </section>
    <section class="page" id="consultations" aria-label="Consultations">
        <h2 class="title">Consultations</h2>
        <div class="container">
            <div class="agauche">{{ page.find("/consultations").content|raw }}</div>
            <div class="adroite">{% include "forms/form.html.twig" with { form: forms('contact-form')} %}</div>
        </div>
        <nav class="nav top">
            <a href="#astro" onclick="goAstro(true)">Tirage <span class="desktop">d'astromancie</span> <span class="fleche">￪</span></a>
        </nav>
        <nav class="nav bottom">
            <a href="#qui-suis-je"
               onclick="offAstro('consultations', 'qui-suis-je')">Qui suis-je ? <span class="fleche">￬</span></a>
        </nav>
    </section>
    <section class="page" id="qui-suis-je" aria-label="Qui suis-je ?">
        <h2 class="title">Qui suis-je ?</h2>
        <div class="container">
            <div class="agauche">{{ page.find("/qui-suis-je").content|raw }}</div>
            <div class="adroite">
                {{ media["theme://images/carte-astrale.png"].html('Carte astrale', 'Image de carte astrale') |raw }}
            </div>
        </div>
        <nav class="nav top">
            <a href="#consultations"
               onclick="offAstro('qui-suis-je', 'consultations')">
                Consultations
                <span class="desktop">d'astrologie</span> <span class="fleche">￪</span></a>
        </nav>
    </section>
{% endblock %}
