<svg width="503.995" height="503.995" preserveAspectRatio="xMidYMid" version="1.0" viewBox="0 0 377.996 377.996" id="svg2" sodipodi:docname="cercle.svg" inkscape:version="1.3 (0e150ed6c4, 2023-07-21)" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
  <defs id="defs1">
    <clipPath id="a">
      <path d="M766 503h151v151.234H766Zm0 0" id="path1"/>
    </clipPath>
  </defs>
  <g clip-path="url(#a)" transform="translate(-651,-388.742)" id="g2">
    <path d="m 912.84,547.719 c -0.211,-0.399 -0.426,-0.762 -0.457,-0.73 -3.617,-8 -10.457,-18.583 -18.453,-24.239 3.07,3.223 3.132,3.344 7.511,8.7 -4.046,-3.317 -7.023,-8 -11.949,-11.864 3.801,3.348 -1.582,-0.578 -5.199,-2.887 -6.504,-4.926 -18.606,-10.308 -29.672,-11.922 -4.742,-0.972 -20.46,-1.277 -18.117,-0.09 -6.66,0.7 -7.692,0.153 -12.68,1.032 -13.832,4.804 -26.633,7.816 -37.453,20.558 0.211,-1.214 -5.262,4.836 -7.113,7.45 -4.684,5.293 -11.34,20.406 -8.696,17.546 2.31,-4.011 5.653,-13.042 10.852,-18.152 4.348,-4.351 2.34,-1.855 -0.457,1.945 -2.824,3.801 -5.773,9.336 -5.32,9.672 0.73,-1.613 1.855,-2.07 4.5,-6.66 -2.703,4.563 -2.067,4.106 -0.942,2.86 a 71.133,71.133 0 0 0 -4.406,8.085 c -1.066,1.188 -1.766,1.735 -1.918,1.188 -6.84,12.469 -6.96,25.82 -5.652,41.816 0.21,3.801 2.37,11.524 3.129,11.676 0.914,-0.062 -2.856,-10.734 -2.797,-17.61 1.277,7.302 3.222,19.77 8.453,28.56 -0.367,-0.946 -0.73,-1.887 -1.035,-2.829 a 73.98,73.98 0 0 0 9.152,14.625 c 1.309,1.824 2.707,3.528 4.195,5.051 -0.761,-0.578 -1.52,-1.156 -2.25,-1.797 3.496,4.137 7.903,8.91 9.637,9.156 -2.797,-2.375 -3.586,-3.437 -6.262,-5.78 -0.273,-0.606 1.368,0.823 2.13,1.339 a 75.04,75.04 0 0 0 10.488,8.121 c 0.605,0.453 1.183,0.852 1.671,1.246 0.82,0.457 2.067,1.094 3.465,1.762 10.336,5.476 22.102,8.578 34.598,8.578 11.277,0 21.95,-2.523 31.527,-7.055 1,-0.336 2.004,-0.672 2.34,-0.699 4.043,-2.223 7.996,-4.93 11.735,-8 17.238,-13.531 28.332,-34.578 28.332,-58.207 a 63.44,63.44 0 0 0 -0.09,-3.433 c 1.277,-5.477 1.582,-16.301 -2.797,-29.012 z m -143.371,13.32 c -0.184,1.152 -0.305,2.309 -0.426,3.465 0.516,-1.399 0.973,-2.797 1.578,-4.168 -1.488,6.36 -2.25,3.68 -2.95,10.187 -0.3,-2.828 0.368,-3.617 1.798,-9.484 z m 0,0" id="path2"/>
  </g>
  <circle id="path3" style="fill:#ffffff;stroke:#000000;stroke-width:0.75" cx="150.25446" cy="188.68948" r="0.12816904"/>
</svg>
