<div id="etoile" class="svgs center">
<svg
   class="center"
   width="503.995"
   height="503.995"
   preserveAspectRatio="xMidYMid"
   version="1.0"
   viewBox="0 0 377.996 377.996"
   sodipodi:docname="test-etoile.svg"
   inkscape:version="1.3 (0e150ed6c4, 2023-07-21)"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
<title>Rayons de soleil noir</title>
  <defs
     id="defs6">
    <clipPath
       id="b">
      <path
         d="M826.246 575.016h202.75v94.578h-202.75Zm0 0"
         id="path1" />
    </clipPath>
    <clipPath
       id="c">
      <path
         d="M837 388.742h95V592h-95zm0 0"
         id="path2" />
    </clipPath>
    <clipPath
       id="d">
      <path
         d="M749 556h78v210.742h-78zm0 0"
         id="path3" />
    </clipPath>
    <clipPath
       id="e">
      <path
         d="M748.125 564h94.578v202.738h-94.578Zm0 0"
         id="path4" />
    </clipPath>
    <clipPath
       id="f">
      <path
         d="M826.246 575.016h202.75v94.578h-202.75Zm0 0"
         id="path5" />
    </clipPath>
    <clipPath
       id="g">
      <path
         d="M766 503h151v151.234H766Zm0 0"
         id="path6" />
    </clipPath>
    <filter
       id="a"
       width="1"
       height="1"
       x="0"
       y="0">
      <feColorMatrix
         color-interpolation-filters="sRGB"
         values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0"
         id="feColorMatrix6" />
    </filter>
  </defs>
  <path
     d="M240.504 370.863c-6.18-6.984-12.277-14.031-18.387-21.07a4696.6 4696.6 0 0 1-18.222-21.211 6372.557 6372.557 0 0 1-36.125-42.68 6258.379 6258.379 0 0 1-35.762-42.988c-11.852-14.387-23.649-28.82-35.278-43.394 12.336 13.98 24.5 28.105 36.61 42.273a6472.955 6472.955 0 0 1 36.125 42.684 6472.497 6472.497 0 0 1 35.762 42.992 4492.95 4492.95 0 0 1 17.718 21.629c5.875 7.234 11.754 14.468 17.559 21.765"
     id="path7" />
  <path
     d="M256.156 365.68c-6.761-6.418-13.453-12.903-20.148-19.387a4718.794 4718.794 0 0 1-20.004-19.54 6505.607 6505.607 0 0 1-39.707-39.37 6187.192 6187.192 0 0 1-39.375-39.707c-13.059-13.301-26.07-26.649-38.922-40.156 13.504 12.855 26.855 25.867 40.156 38.925a6395.338 6395.338 0 0 1 39.707 39.371 6621.3 6621.3 0 0 1 39.371 39.711 4716.32 4716.32 0 0 1 19.536 20c6.484 6.7 12.972 13.391 19.386 20.153"
     id="path8" />
  <path
     d="M271.3 359.152c-7.296-5.8-14.527-11.68-21.765-17.554a4692.743 4692.743 0 0 1-21.625-17.723 6373.229 6373.229 0 0 1-42.992-35.758 6472.65 6472.65 0 0 1-42.684-36.125c-14.168-12.113-28.293-24.277-42.273-36.61 14.574 11.626 29.008 23.427 43.394 35.274a6373.108 6373.108 0 0 1 42.989 35.762 6491.28 6491.28 0 0 1 42.68 36.129 4489.985 4489.985 0 0 1 21.206 18.223c7.043 6.105 14.09 12.207 21.07 18.382"
     id="path9" />
  <path
     d="M285.816 351.332c-7.773-5.145-15.492-10.371-23.21-15.59a5223.845 5223.845 0 0 1-23.09-15.77 6325.028 6325.028 0 0 1-45.942-31.878 6288.26 6288.26 0 0 1-45.672-32.266c-15.168-10.832-30.3-21.719-45.304-32.785 15.535 10.312 30.937 20.805 46.304 31.36a6167.99 6167.99 0 0 1 45.942 31.878 6411.248 6411.248 0 0 1 45.668 32.27 4628.239 4628.239 0 0 1 22.715 16.304c7.546 5.47 15.097 10.934 22.59 16.477"
     id="path10" />
  <path
     d="M299.598 342.277c-8.192-4.449-16.336-8.984-24.485-13.511-8.136-4.54-16.261-9.11-24.375-13.696a6619.005 6619.005 0 0 1-48.547-27.75 6480.744 6480.744 0 0 1-48.308-28.164c-16.055-9.469-32.078-18.996-47.988-28.715 16.37 8.922 32.632 18.036 48.859 27.204a6537.872 6537.872 0 0 1 96.852 55.922c8.027 4.734 16.05 9.484 24.05 14.261 7.996 4.793 15.992 9.578 23.942 14.45"
     id="path11" />
  <path
     d="M312.54 332.055c-8.552-3.72-17.06-7.524-25.571-11.325a5132.992 5132.992 0 0 1-25.477-11.52 6410.419 6410.419 0 0 1-50.781-23.417 6345.757 6345.757 0 0 1-50.578-23.844c-16.82-8.035-33.613-16.129-50.313-24.422 17.09 7.457 34.082 15.121 51.051 22.844a6211.56 6211.56 0 0 1 50.777 23.414 6346.161 6346.161 0 0 1 50.579 23.852c8.41 4.015 16.812 8.047 25.199 12.113 8.383 4.074 16.77 8.145 25.113 12.305"
     id="path12" />
  <path
     d="M324.535 320.742c-8.84-2.957-17.648-6.008-26.457-9.054a4590.397 4590.397 0 0 1-26.387-9.254 6643.59 6643.59 0 0 1-52.625-18.899 6439.793 6439.793 0 0 1-52.464-19.348c-17.457-6.535-34.891-13.136-52.25-19.945 17.675 5.942 35.273 12.094 52.843 18.309a6296.955 6296.955 0 0 1 52.63 18.902 6493.692 6493.692 0 0 1 52.464 19.348c8.727 3.27 17.45 6.55 26.16 9.87 8.703 3.329 17.41 6.653 26.086 10.071M335.504 308.43c-9.066-2.176-18.106-4.45-27.149-6.715-9.039-2.277-18.066-4.59-27.09-6.922a6432.034 6432.034 0 0 1-54.074-14.238 6431.948 6431.948 0 0 1-53.953-14.703c-17.957-4.989-35.902-10.043-53.785-15.313 18.121 4.379 36.188 8.969 54.238 13.629a6284.695 6284.695 0 0 1 54.07 14.246 6432.816 6432.816 0 0 1 53.954 14.703c8.98 2.496 17.953 5.004 26.922 7.551 8.96 2.559 17.926 5.113 26.867 7.762"
     id="path13" />
  <path
     d="M345.355 295.207c-9.222-1.379-18.425-2.855-27.628-4.324a4664.301 4664.301 0 0 1-27.59-4.531 6416.205 6416.205 0 0 1-55.114-9.477 6415.668 6415.668 0 0 1-55.027-9.941c-18.324-3.407-36.64-6.88-54.914-10.567 18.434 2.781 36.832 5.781 55.219 8.852a6266.755 6266.755 0 0 1 55.11 9.476 6415.51 6415.51 0 0 1 55.027 9.946 5075.82 5075.82 0 0 1 27.476 5.175c9.152 1.77 18.305 3.532 27.441 5.391M354.016 281.176c-9.305-.57-18.602-1.239-27.903-1.899a4778.106 4778.106 0 0 1-27.879-2.113 6478.253 6478.253 0 0 1-55.726-4.633 6476.999 6476.999 0 0 1-55.684-5.11c-18.554-1.792-37.101-3.655-55.629-5.741 18.61 1.164 37.2 2.55 55.782 4.004a6491.046 6491.046 0 0 1 55.726 4.64 6337.777 6337.777 0 0 1 55.684 5.114c9.277.894 18.55 1.808 27.824 2.761 9.27.961 18.539 1.918 27.805 2.977"
     id="path14" />
  <path
     d="M361.422 266.441c-9.32.243-18.64.387-27.957.54-9.32.14-18.64.242-27.961.328-18.64.164-37.277.238-55.918.238a6348.94 6348.94 0 0 1-55.918-.235c-18.64-.171-37.277-.41-55.918-.87 18.64-.462 37.277-.7 55.918-.872a6510.76 6510.76 0 0 1 111.836.004c9.32.082 18.64.188 27.96.324 9.317.153 18.638.297 27.958.543"
     id="path15" />
  <path
     d="M367.516 251.117c-9.262 1.059-18.536 2.016-27.805 2.977-9.274.953-18.547 1.867-27.828 2.761a6310.752 6310.752 0 0 1-55.684 5.114 6324.261 6324.261 0 0 1-55.722 4.636c-18.586 1.458-37.176 2.844-55.782 4.008 18.528-2.086 37.075-3.945 55.63-5.742a6476.998 6476.998 0 0 1 55.683-5.11 6490.886 6490.886 0 0 1 55.726-4.632c9.29-.73 18.586-1.438 27.88-2.113 9.296-.66 18.597-1.328 27.902-1.899"
     id="path16" />
  <path
     d="M372.25 235.324c-9.137 1.86-18.29 3.621-27.441 5.387a4360.746 4360.746 0 0 1-27.477 5.176 6388.636 6388.636 0 0 1-55.027 9.949 6388.946 6388.946 0 0 1-55.11 9.476c-18.386 3.067-36.78 6.07-55.218 8.852 18.277-3.691 36.59-7.164 54.918-10.566a6267.832 6267.832 0 0 1 55.027-9.946 6415.238 6415.238 0 0 1 55.11-9.472c9.19-1.535 18.39-3.055 27.59-4.535 9.206-1.47 18.41-2.946 27.628-4.32"
     id="path17" />
  <path
     d="M375.59 219.176c-8.938 2.648-17.902 5.199-26.867 7.758a4907.033 4907.033 0 0 1-26.922 7.554 6431.567 6431.567 0 0 1-53.95 14.703 6285.497 6285.497 0 0 1-54.074 14.243c-18.047 4.66-36.113 9.254-54.238 13.632 17.887-5.27 35.828-10.324 53.79-15.316 17.96-4.98 35.944-9.875 53.952-14.7 18-4.823 36.028-9.573 54.07-14.241 9.024-2.329 18.055-4.641 27.094-6.918 9.04-2.266 18.082-4.54 27.145-6.715"
     id="path18" />
  <path
     d="M377.512 202.797c-8.676 3.418-17.383 6.742-26.09 10.07-8.711 3.32-17.43 6.606-26.16 9.871A6645.44 6645.44 0 0 1 272.8 242.09a6439.473 6439.473 0 0 1-52.63 18.902c-17.573 6.215-35.171 12.363-52.843 18.305 17.356-6.809 34.79-13.406 52.246-19.942a6348.594 6348.594 0 0 1 52.465-19.347 6296.655 6296.655 0 0 1 52.629-18.899c8.785-3.109 17.578-6.199 26.387-9.257 8.808-3.043 17.613-6.098 26.457-9.055"
     id="path19" />
  <g
     clip-path="url(#b)"
     transform="translate(-651 -388.742)"
     id="g20">
    <path
       d="M1028.996 575.059c-8.344 4.16-16.73 8.23-25.11 12.304a4803.65 4803.65 0 0 1-25.198 12.114 6411.675 6411.675 0 0 1-50.583 23.847 6346.22 6346.22 0 0 1-50.777 23.418c-16.965 7.723-33.96 15.383-51.047 22.844 16.7-8.297 33.489-16.39 50.309-24.422a6553.875 6553.875 0 0 1 101.36-47.262 4796.473 4796.473 0 0 1 25.476-11.52c8.515-3.8 17.02-7.609 25.57-11.323"
       id="path20" />
  </g>
  <path
     d="M377.043 169.855c-7.945 4.872-15.945 9.657-23.941 14.446a4987.733 4987.733 0 0 1-24.051 14.265 6537.21 6537.21 0 0 1-48.305 28.164 6403.086 6403.086 0 0 1-48.547 27.754c-16.226 9.172-32.488 18.286-48.863 27.207 15.914-9.722 31.937-19.246 47.992-28.714a6272.08 6272.08 0 0 1 48.309-28.165 6402.304 6402.304 0 0 1 48.547-27.75c8.113-4.59 16.234-9.16 24.375-13.699 8.148-4.527 16.293-9.062 24.484-13.508"
     id="path21" />
  <path
     d="M374.66 153.535c-7.496 5.547-15.047 11.012-22.594 16.485a4903.601 4903.601 0 0 1-22.714 16.3 6501.58 6501.58 0 0 1-45.668 32.27 6087.98 6087.98 0 0 1-45.942 31.879c-15.367 10.554-30.773 21.047-46.304 31.363 15.003-11.07 30.136-21.957 45.304-32.789a6288.258 6288.258 0 0 1 45.672-32.266 6325.25 6325.25 0 0 1 45.941-31.879 4907.587 4907.587 0 0 1 23.09-15.765c7.723-5.223 15.438-10.45 23.215-15.598"
     id="path22" />
  <path
     d="M370.863 137.488c-6.984 6.18-14.031 12.282-21.07 18.39a4696.2 4696.2 0 0 1-21.211 18.22 6258.438 6258.438 0 0 1-42.68 36.129 6373.108 6373.108 0 0 1-42.988 35.761c-14.387 11.852-28.82 23.649-43.394 35.278 13.98-12.336 28.105-24.5 42.277-36.614a6164.94 6164.94 0 0 1 42.683-36.12 6373.108 6373.108 0 0 1 42.989-35.762 4739.308 4739.308 0 0 1 21.629-17.723c7.234-5.875 14.468-11.754 21.765-17.559"
     id="path23" />
  <path
     d="M365.68 121.836c-6.418 6.762-12.903 13.453-19.387 20.152a4490.472 4490.472 0 0 1-19.54 20 6396.9 6396.9 0 0 1-39.37 39.711 6289.098 6289.098 0 0 1-39.707 39.371c-13.301 13.063-26.649 26.07-40.153 38.926 12.852-13.508 25.864-26.855 38.922-40.156a6505.895 6505.895 0 0 1 39.371-39.707 6506.25 6506.25 0 0 1 39.711-39.371 4968.796 4968.796 0 0 1 20-19.54c6.7-6.48 13.391-12.968 20.153-19.386"
     id="path24" />
  <path
     d="M359.156 106.691c-5.804 7.297-11.683 14.532-17.558 21.77a4647.716 4647.716 0 0 1-17.723 21.625 6372.542 6372.542 0 0 1-35.758 42.988 6373.915 6373.915 0 0 1-36.125 42.688c-12.113 14.168-24.277 28.293-36.61 42.273 11.63-14.574 23.427-29.008 35.274-43.394a6373.674 6373.674 0 0 1 35.766-42.989 6372.855 6372.855 0 0 1 36.125-42.68c6.055-7.09 12.125-14.16 18.223-21.21 6.105-7.04 12.207-14.086 18.386-21.07"
     id="path25" />
  <path
     d="M351.332 92.176c-5.144 7.773-10.371 15.492-15.59 23.215a4626.51 4626.51 0 0 1-15.77 23.09 6633.285 6633.285 0 0 1-31.874 45.94 6323.799 6323.799 0 0 1-32.27 45.669C245 245.262 234.11 260.395 223.04 275.398c10.316-15.535 20.809-30.937 31.36-46.304a6451.177 6451.177 0 0 1 31.882-45.942 6411.57 6411.57 0 0 1 32.27-45.668 4904.14 4904.14 0 0 1 16.3-22.714c5.473-7.551 10.938-15.098 16.481-22.594"
     id="path26" />
  <path
     d="M342.277 78.398c-4.449 8.192-8.984 16.336-13.511 24.48-4.54 8.142-9.11 16.267-13.696 24.38a6480.135 6480.135 0 0 1-27.754 48.547 6401.128 6401.128 0 0 1-28.16 48.304c-9.469 16.059-18.996 32.082-28.715 47.993 8.918-16.372 18.032-32.633 27.204-48.864a6271.79 6271.79 0 0 1 27.757-48.543 6401.777 6401.777 0 0 1 28.164-48.304c4.735-8.032 9.485-16.051 14.262-24.051 4.793-7.996 9.578-15.996 14.45-23.942"
     id="path27" />
  <path
     d="M332.055 65.457c-3.715 8.55-7.524 17.059-11.325 25.57a5133.911 5133.911 0 0 1-11.52 25.477 6485.715 6485.715 0 0 1-23.413 50.777 6485.882 6485.882 0 0 1-23.848 50.582c-8.031 16.82-16.125 33.61-24.422 50.309 7.457-17.086 15.121-34.082 22.844-51.047a6212.26 6212.26 0 0 1 23.418-50.777 6410.868 6410.868 0 0 1 23.848-50.578c4.015-8.41 8.047-16.817 12.113-25.204 4.074-8.382 8.145-16.765 12.305-25.109"
     id="path28" />
  <path
     d="M320.742 53.46c-2.957 8.84-6.008 17.65-9.05 26.458a4909.852 4909.852 0 0 1-9.258 26.387 6643.589 6643.589 0 0 1-18.899 52.625 6439.793 6439.793 0 0 1-19.348 52.465c-6.535 17.457-13.136 34.89-19.945 52.246 5.942-17.672 12.094-35.27 18.309-52.844a6296.485 6296.485 0 0 1 18.902-52.625 6297.51 6297.51 0 0 1 19.352-52.465c3.265-8.727 6.547-17.45 9.867-26.16 3.328-8.707 6.656-17.414 10.07-26.086"
     id="path29" />
  <path
     d="M308.43 42.492c-2.176 9.067-4.45 18.106-6.715 27.149a5000.389 5000.389 0 0 1-6.918 27.09 6585.549 6585.549 0 0 1-28.942 108.027c-4.992 17.957-10.046 35.902-15.316 53.785 4.379-18.125 8.973-36.188 13.633-54.238a6285.958 6285.958 0 0 1 14.242-54.075 6584.725 6584.725 0 0 1 14.703-53.949c2.496-8.98 5.008-17.957 7.555-26.922 2.558-8.964 5.11-17.925 7.758-26.867"
     id="path30" />
  <path
     d="M295.207 32.64c-1.379 9.223-2.852 18.426-4.324 27.63a4664.301 4664.301 0 0 1-4.531 27.59 6388.958 6388.958 0 0 1-9.477 55.109 6100.59 6100.59 0 0 1-9.941 55.027c-3.407 18.328-6.875 36.645-10.567 54.918 2.781-18.434 5.781-36.832 8.852-55.219a6415.001 6415.001 0 0 1 9.476-55.11c3.239-18.355 6.547-36.698 9.946-55.026a5004.308 5004.308 0 0 1 5.175-27.477c1.77-9.152 3.532-18.305 5.391-27.441"
     id="path31" />
  <path
     d="M281.176 23.98c-.57 9.305-1.239 18.602-1.899 27.899-.672 9.297-1.382 18.59-2.109 27.879a6625.39 6625.39 0 0 1-9.746 111.414c-1.793 18.55-3.656 37.101-5.742 55.629 1.164-18.61 2.554-37.2 4.007-55.781a6337.577 6337.577 0 0 1 4.637-55.727 6338.16 6338.16 0 0 1 5.113-55.684c.895-9.277 1.81-18.55 2.762-27.824.965-9.27 1.918-18.543 2.977-27.805"
     id="path32" />
  <path
     d="M266.441 16.574c.247 9.32.391 18.637.54 27.957.14 9.324.242 18.64.328 27.961a6508.6 6508.6 0 0 1 .004 111.836c-.172 18.637-.41 37.277-.872 55.918-.46-18.64-.699-37.281-.87-55.918-.165-18.64-.239-37.277-.235-55.918 0-18.637.074-37.277.238-55.918.082-9.32.188-18.637.324-27.96.153-9.321.297-18.637.543-27.958"
     id="path33" />
  <path
     d="M251.117 10.48c1.059 9.262 2.016 18.536 2.977 27.805a4440.47 4440.47 0 0 1 2.761 27.824 6491.87 6491.87 0 0 1 5.114 55.684 6337.272 6337.272 0 0 1 4.64 55.727c1.454 18.582 2.84 37.171 4.004 55.78-2.086-18.527-3.945-37.073-5.742-55.628a6478.302 6478.302 0 0 1-5.11-55.688 6476.514 6476.514 0 0 1-4.632-55.722c-.73-9.293-1.441-18.586-2.113-27.883-.66-9.293-1.328-18.594-1.899-27.899"
     id="path34" />
  <path
     d="M235.324 5.746c1.86 9.133 3.621 18.29 5.387 27.438a4416.155 4416.155 0 0 1 5.176 27.48 6442.183 6442.183 0 0 1 9.949 55.023 6441.593 6441.593 0 0 1 9.476 55.11c3.07 18.387 6.07 36.785 8.852 55.223-3.691-18.278-7.164-36.59-10.566-54.918a6415.511 6415.511 0 0 1-9.946-55.028 6734.423 6734.423 0 0 1-9.476-55.11c-1.531-9.19-3.051-18.39-4.528-27.589-1.472-9.207-2.949-18.41-4.324-27.629"
     id="path35" />
  <path
     d="M219.176 2.406c2.648 8.938 5.203 17.903 7.758 26.867a4904.818 4904.818 0 0 1 7.554 26.918c4.98 17.961 9.88 35.95 14.703 53.954a6432.766 6432.766 0 0 1 14.246 54.074c4.657 18.047 9.25 36.113 13.63 54.234-5.27-17.883-10.325-35.824-15.313-53.785-4.98-17.961-9.879-35.95-14.703-53.953a6285.352 6285.352 0 0 1-14.238-54.074 4584.254 4584.254 0 0 1-6.922-27.09c-2.266-9.043-4.54-18.082-6.715-27.145"
     id="path36" />
  <path
     d="M202.8.484c3.415 8.676 6.74 17.383 10.067 26.09 3.32 8.711 6.606 17.43 9.871 26.16a6588.23 6588.23 0 0 1 19.352 52.461 6439.849 6439.849 0 0 1 18.902 52.63c6.211 17.573 12.367 35.171 18.309 52.843-6.809-17.36-13.41-34.793-19.946-52.246a6493.692 6493.692 0 0 1-19.347-52.465 6296.628 6296.628 0 0 1-18.899-52.629C218 44.54 214.91 35.75 211.852 26.945c-3.043-8.812-6.098-17.62-9.051-26.46"
     id="path37" />
  <g
     clip-path="url(#c)"
     transform="translate(-651 -388.742)"
     id="g38">
    <path
       d="M837.316 388.742c4.16 8.344 8.23 16.727 12.305 25.11a4660.082 4660.082 0 0 1 12.113 25.203 6346.161 6346.161 0 0 1 23.852 50.578 6486.086 6486.086 0 0 1 23.418 50.777c7.719 16.965 15.383 33.957 22.84 51.047-8.293-16.7-16.387-33.492-24.422-50.312a6345.755 6345.755 0 0 1-23.844-50.579 6284.185 6284.185 0 0 1-23.418-50.78c-3.86-8.481-7.707-16.973-11.52-25.477-3.8-8.508-7.605-17.016-11.324-25.567"
       id="path38" />
  </g>
  <path
     d="M169.855.953c4.872 7.95 9.657 15.945 14.446 23.942a4986.597 4986.597 0 0 1 14.265 24.05A6479.966 6479.966 0 0 1 226.73 97.25a6478.963 6478.963 0 0 1 27.754 48.543c9.172 16.23 18.286 32.492 27.207 48.867-9.722-15.914-19.246-31.937-28.714-47.992a6402.25 6402.25 0 0 1-28.164-48.309 6479.532 6479.532 0 0 1-27.75-48.546 4802.612 4802.612 0 0 1-13.7-24.375c-4.527-8.149-9.062-16.293-13.508-24.485"
     id="path39" />
  <path
     d="M153.54 3.336c5.542 7.492 11.007 15.043 16.48 22.594a5122.854 5122.854 0 0 1 16.3 22.71 6502.22 6502.22 0 0 1 32.27 45.673 6204.536 6204.536 0 0 1 31.883 45.94c10.55 15.364 21.043 30.77 31.359 46.306-11.07-15.004-21.957-30.137-32.789-45.305a6411.83 6411.83 0 0 1-32.266-45.672 6500.67 6500.67 0 0 1-31.879-45.941 5118.248 5118.248 0 0 1-15.765-23.09c-5.223-7.723-10.45-15.442-15.594-23.215"
     id="path40" />
  <path
     d="M137.492 7.133c6.176 6.984 12.278 14.031 18.387 21.07a5212.898 5212.898 0 0 1 18.223 21.207 6372.985 6372.985 0 0 1 36.125 42.684 6165.477 6165.477 0 0 1 35.761 42.988c11.852 14.387 23.649 28.82 35.274 43.395-12.332-13.985-24.496-28.11-36.61-42.278a6258.493 6258.493 0 0 1-36.12-42.683 6373.108 6373.108 0 0 1-35.762-42.989 4964.734 4964.734 0 0 1-17.723-21.629c-5.871-7.234-11.754-14.468-17.555-21.765M121.836 12.316c6.762 6.414 13.457 12.903 20.152 19.387a4288.553 4288.553 0 0 1 20 19.54 6506.88 6506.88 0 0 1 79.086 79.077c13.059 13.297 26.067 26.649 38.922 40.153-13.504-12.852-26.855-25.864-40.156-38.922a6396.027 6396.027 0 0 1-39.707-39.375 6505.605 6505.605 0 0 1-39.371-39.707 4968.116 4968.116 0 0 1-19.54-20c-6.48-6.7-12.968-13.39-19.386-20.153"
     id="path41" />
  <path
     d="M106.695 18.84c7.297 5.805 14.528 11.683 21.766 17.558a4964.116 4964.116 0 0 1 21.625 17.72 6493.135 6493.135 0 0 1 42.992 35.76 6472.635 6472.635 0 0 1 42.684 36.126c14.168 12.11 28.293 24.277 42.273 36.61-14.574-11.63-29.008-23.427-43.394-35.278a6258.386 6258.386 0 0 1-42.989-35.762 6372.601 6372.601 0 0 1-42.68-36.125 4731.194 4731.194 0 0 1-21.206-18.222c-7.043-6.106-14.09-12.207-21.07-18.387"
     id="path42" />
  <path
     d="M92.176 26.66c7.773 5.145 15.492 10.375 23.215 15.594a5225.575 5225.575 0 0 1 23.09 15.77 6633.285 6633.285 0 0 1 45.94 31.874 6323.514 6323.514 0 0 1 45.669 32.27c15.172 10.832 30.305 21.719 45.308 32.785-15.535-10.312-30.937-20.808-46.304-31.36a6325.312 6325.312 0 0 1-45.942-31.878 6411.798 6411.798 0 0 1-45.668-32.27 4628.718 4628.718 0 0 1-22.714-16.304c-7.547-5.47-15.098-10.934-22.594-16.48"
     id="path43" />
  <path
     d="M78.395 35.719c8.195 4.445 16.34 8.98 24.484 13.508 8.14 4.543 16.266 9.109 24.379 13.699a6619.007 6619.007 0 0 1 48.547 27.75 6401.434 6401.434 0 0 1 48.304 28.164c16.059 9.469 32.082 18.996 47.993 28.71-16.372-8.917-32.633-18.03-48.86-27.202a6327.391 6327.391 0 0 1-48.547-27.754 6401.975 6401.975 0 0 1-48.304-28.164 4632.705 4632.705 0 0 1-24.051-14.266c-7.996-4.789-15.996-9.574-23.945-14.445"
     id="path44" />
  <path
     d="M65.457 45.941c8.55 3.72 17.059 7.524 25.57 11.325 8.504 3.812 16.993 7.66 25.477 11.52a6553.48 6553.48 0 0 1 101.36 47.26c16.82 8.032 33.613 16.126 50.308 24.423-17.086-7.457-34.082-15.121-51.047-22.844a6346.126 6346.126 0 0 1-50.777-23.418 6485.256 6485.256 0 0 1-50.578-23.848 4658.912 4658.912 0 0 1-25.2-12.113c-8.383-4.074-16.77-8.144-25.113-12.305"
     id="path45" />
  <path
     d="M53.46 57.254c8.84 2.957 17.65 6.008 26.458 9.05a4791.775 4791.775 0 0 1 26.383 9.259A6387.294 6387.294 0 0 1 158.93 94.46a6439.854 6439.854 0 0 1 52.465 19.348c17.457 6.535 34.89 13.136 52.25 19.945-17.676-5.945-35.274-12.094-52.844-18.309a6588.89 6588.89 0 0 1-105.094-38.25c-8.727-3.27-17.45-6.554-26.16-9.87-8.703-3.333-17.414-6.653-26.086-10.071"
     id="path46" />
  <path
     d="M42.492 69.566c9.067 2.176 18.106 4.45 27.149 6.711 9.039 2.282 18.066 4.594 27.09 6.922a6431.976 6431.976 0 0 1 54.074 14.242 6325.366 6325.366 0 0 1 53.953 14.7c17.957 4.992 35.902 10.046 53.785 15.316-18.121-4.379-36.188-8.973-54.238-13.633a6146.015 6146.015 0 0 1-54.075-14.246c-18-4.82-35.988-9.719-53.949-14.7a4907.032 4907.032 0 0 1-26.922-7.554c-8.96-2.558-17.925-5.11-26.867-7.758"
     id="path47" />
  <path
     d="M32.64 82.79c9.223 1.378 18.426 2.85 27.63 4.323 9.203 1.48 18.398 2.996 27.59 4.532a6571.673 6571.673 0 0 1 55.113 9.472A6415.9 6415.9 0 0 1 198 111.062c18.324 3.403 36.64 6.875 54.914 10.567-18.434-2.781-36.832-5.785-55.219-8.852a6415 6415 0 0 1-55.11-9.476c-18.355-3.239-36.698-6.551-55.026-9.95-9.164-1.699-18.325-3.417-27.477-5.175-9.152-1.766-18.305-3.528-27.441-5.387M23.98 96.82c9.305.567 18.602 1.239 27.899 1.899 9.297.672 18.59 1.383 27.883 2.11a6491.369 6491.369 0 0 1 55.726 4.636 6337.56 6337.56 0 0 1 55.684 5.105c18.555 1.797 37.101 3.66 55.629 5.742-18.61-1.164-37.2-2.55-55.781-4.003a6337.577 6337.577 0 0 1-55.727-4.637 6491.467 6491.467 0 0 1-55.684-5.113c-9.277-.899-18.55-1.813-27.824-2.762-9.27-.965-18.543-1.922-27.805-2.977"
     id="path48" />
  <path
     d="M16.574 111.555c9.32-.246 18.64-.39 27.957-.543 9.32-.14 18.64-.242 27.961-.324a6507.91 6507.91 0 0 1 111.836-.004c18.64.168 37.281.41 55.918.87-18.637.462-37.277.7-55.918.872-18.64.16-37.277.238-55.918.234-18.64 0-37.277-.074-55.918-.238-9.32-.086-18.64-.188-27.96-.328-9.317-.153-18.637-.297-27.958-.54"
     id="path49" />
  <path
     d="M10.48 126.875c9.262-1.055 18.536-2.012 27.805-2.973 9.274-.953 18.547-1.867 27.824-2.765a6652.797 6652.797 0 0 1 55.684-5.114 6490.966 6490.966 0 0 1 55.727-4.636c18.582-1.453 37.171-2.84 55.78-4.004-18.527 2.082-37.073 3.945-55.628 5.738a6490.483 6490.483 0 0 1-111.41 9.746c-9.293.727-18.586 1.438-27.883 2.113-9.297.66-18.594 1.325-27.899 1.895"
     id="path50" />
  <path
     d="M5.746 142.672c9.137-1.86 18.29-3.621 27.442-5.39a5003.363 5003.363 0 0 1 27.476-5.177 6570.653 6570.653 0 0 1 110.137-19.421c18.386-3.07 36.781-6.07 55.219-8.852-18.278 3.691-36.59 7.16-54.918 10.566a6266.795 6266.795 0 0 1-55.028 9.942 6414.934 6414.934 0 0 1-55.11 9.476 4664.301 4664.301 0 0 1-27.589 4.532c-9.207 1.472-18.41 2.945-27.629 4.324"
     id="path51" />
  <path
     d="M2.406 158.82c8.938-2.648 17.903-5.199 26.867-7.757 8.965-2.551 17.942-5.06 26.922-7.555 17.961-4.98 35.946-9.88 53.95-14.703a6286.182 6286.182 0 0 1 54.074-14.246c18.047-4.657 36.113-9.25 54.238-13.63-17.887 5.27-35.828 10.325-53.789 15.313a6285.253 6285.253 0 0 1-53.95 14.703 6627.4 6627.4 0 0 1-54.073 14.239 4664.719 4664.719 0 0 1-27.094 6.921c-9.04 2.266-18.078 4.54-27.145 6.715"
     id="path52" />
  <path
     d="M.484 175.195c8.676-3.414 17.383-6.738 26.09-10.07a4998.71 4998.71 0 0 1 26.16-9.871 6589.138 6589.138 0 0 1 52.465-19.348 6246.254 6246.254 0 0 1 52.625-18.902c17.574-6.215 35.172-12.363 52.844-18.309-17.356 6.809-34.793 13.41-52.25 19.946a6385.206 6385.206 0 0 1-52.461 19.347 6589.351 6589.351 0 0 1-52.629 18.899c-8.785 3.11-17.578 6.199-26.383 9.258-8.812 3.042-17.617 6.093-26.46 9.05"
     id="path53" />
  <path
     d="M0 191.68c8.344-4.16 16.727-8.23 25.11-12.305a4805.61 4805.61 0 0 1 25.203-12.113 6346.161 6346.161 0 0 1 50.578-23.852 6346.22 6346.22 0 0 1 50.777-23.418c16.965-7.722 33.96-15.383 51.047-22.84-16.7 8.293-33.488 16.387-50.313 24.422a6281.984 6281.984 0 0 1-50.578 23.844 6632.254 6632.254 0 0 1-50.777 23.418 5340.057 5340.057 0 0 1-25.48 11.52C17.058 184.155 8.55 187.96 0 191.68"
     id="path54" />
  <path
     d="M.953 208.14c7.95-4.87 15.945-9.656 23.942-14.449a4986.33 4986.33 0 0 1 24.05-14.261 6402.801 6402.801 0 0 1 48.309-28.168c16.14-9.32 32.32-18.574 48.543-27.754 16.226-9.172 32.488-18.281 48.863-27.203-15.914 9.718-31.937 19.246-47.992 28.715a6537.648 6537.648 0 0 1-96.856 55.914 4801.964 4801.964 0 0 1-24.374 13.695C17.288 199.156 9.145 203.69.953 208.14"
     id="path55" />
  <path
     d="M3.336 224.457c7.496-5.547 15.047-11.008 22.594-16.48a4903.601 4903.601 0 0 1 22.715-16.301 6411.766 6411.766 0 0 1 45.667-32.274 6324.812 6324.812 0 0 1 45.942-31.879c15.363-10.55 30.77-21.046 46.305-31.359-15.004 11.07-30.137 21.957-45.305 32.79a6412.014 6412.014 0 0 1-45.672 32.265 6500.148 6500.148 0 0 1-45.941 31.875 4626.507 4626.507 0 0 1-23.09 15.77c-7.723 5.222-15.438 10.448-23.215 15.593"
     id="path56" />
  <path
     d="M7.133 240.504c6.984-6.18 14.027-12.281 21.07-18.387a4921.688 4921.688 0 0 1 21.207-18.222 6472.955 6472.955 0 0 1 42.684-36.125 6373.675 6373.675 0 0 1 42.988-35.766c14.387-11.848 28.82-23.649 43.395-35.274-13.98 12.336-28.106 24.497-42.278 36.61a6276.3 6276.3 0 0 1-42.683 36.125 6372.29 6372.29 0 0 1-42.989 35.758 4451.797 4451.797 0 0 1-21.629 17.722C21.664 228.82 14.43 234.7 7.133 240.504"
     id="path57" />
  <path
     d="M12.316 256.156c6.414-6.761 12.903-13.453 19.387-20.148a4718.797 4718.797 0 0 1 19.54-20.004 6395.059 6395.059 0 0 1 39.37-39.707 6086.284 6086.284 0 0 1 39.707-39.371c13.297-13.063 26.649-26.074 40.153-38.926-12.852 13.504-25.864 26.852-38.922 40.156a6395.971 6395.971 0 0 1-39.375 39.707 6505.256 6505.256 0 0 1-39.707 39.367 4490.472 4490.472 0 0 1-20 19.54c-6.7 6.484-13.39 12.972-20.153 19.386"
     id="path58" />
  <path
     d="M18.84 271.3c5.805-7.296 11.683-14.527 17.558-21.765a4913.606 4913.606 0 0 1 17.723-21.629 6471.224 6471.224 0 0 1 35.758-42.988 6372.688 6372.688 0 0 1 36.125-42.684c12.113-14.168 24.277-28.293 36.61-42.277-11.626 14.578-23.427 29.008-35.274 43.398a6277.245 6277.245 0 0 1-35.766 42.985 6276.054 6276.054 0 0 1-36.125 42.683 4489.483 4489.483 0 0 1-18.222 21.207c-6.106 7.043-12.207 14.09-18.387 21.07"
     id="path59" />
  <path
     d="M26.66 285.816c5.149-7.773 10.375-15.488 15.594-23.21a4906.303 4906.303 0 0 1 15.77-23.09 6325.028 6325.028 0 0 1 31.878-45.942 6203.823 6203.823 0 0 1 32.266-45.672c10.832-15.172 21.719-30.3 32.785-45.304-10.312 15.53-20.808 30.937-31.36 46.304a6287.514 6287.514 0 0 1-31.878 45.942 6501.716 6501.716 0 0 1-32.27 45.668 4628.718 4628.718 0 0 1-16.304 22.715c-5.47 7.546-10.934 15.097-16.48 22.59"
     id="path60" />
  <path
     d="M35.719 299.598c4.445-8.192 8.98-16.336 13.511-24.485 4.54-8.14 9.11-16.261 13.696-24.375a6619.007 6619.007 0 0 1 27.75-48.547 6480.945 6480.945 0 0 1 28.164-48.308c9.469-16.055 18.996-32.078 28.715-47.988-8.922 16.37-18.035 32.632-27.203 48.859a6199.39 6199.39 0 0 1-27.758 48.543 6326.22 6326.22 0 0 1-28.164 48.308 5120.436 5120.436 0 0 1-14.262 24.051c-4.793 7.996-9.578 15.992-14.45 23.942"
     id="path61" />
  <path
     d="M45.941 312.535c3.715-8.547 7.524-17.055 11.325-25.566 3.812-8.504 7.66-16.996 11.52-25.477a6486.342 6486.342 0 0 1 23.413-50.781 6485.425 6485.425 0 0 1 23.848-50.578c8.031-16.82 16.125-33.613 24.422-50.313-7.457 17.09-15.121 34.082-22.844 51.047a6410.42 6410.42 0 0 1-23.418 50.781 6477.132 6477.132 0 0 1-23.848 50.579 4658.912 4658.912 0 0 1-12.113 25.199c-4.074 8.383-8.144 16.77-12.305 25.11"
     id="path62" />
  <path
     d="M57.254 324.535c2.957-8.84 6.008-17.648 9.05-26.457a4909.043 4909.043 0 0 1 9.258-26.387 6438.966 6438.966 0 0 1 18.899-52.625 6440.772 6440.772 0 0 1 19.348-52.468c6.535-17.453 13.136-34.887 19.945-52.246-5.945 17.675-12.094 35.27-18.309 52.843a6296.955 6296.955 0 0 1-18.902 52.63 6296.685 6296.685 0 0 1-19.352 52.46c-3.265 8.73-6.55 17.453-9.867 26.164-3.332 8.703-6.656 17.41-10.07 26.086"
     id="path63" />
  <path
     d="M69.566 335.504c2.176-9.067 4.45-18.11 6.715-27.149 2.278-9.039 4.59-18.066 6.918-27.09a6432.36 6432.36 0 0 1 14.242-54.074 6286.198 6286.198 0 0 1 14.704-53.953c4.988-17.96 10.042-35.902 15.312-53.785-4.379 18.121-8.973 36.188-13.633 54.238a6247.225 6247.225 0 0 1-14.242 54.07 6432.92 6432.92 0 0 1-14.703 53.954 4907.923 4907.923 0 0 1-7.555 26.922c-2.558 8.96-5.11 17.925-7.758 26.867"
     id="path64" />
  <path
     d="M82.79 345.352c1.378-9.22 2.85-18.422 4.323-27.625 1.48-9.204 2.996-18.399 4.532-27.594a6415.39 6415.39 0 0 1 9.476-55.11 6267.3 6267.3 0 0 1 9.942-55.027c3.406-18.324 6.875-36.64 10.566-54.918-2.781 18.438-5.781 36.836-8.852 55.223a6571.06 6571.06 0 0 1-19.422 110.137c-1.703 9.16-3.421 18.32-5.18 27.476-1.765 9.152-3.527 18.305-5.386 27.438"
     id="path65" />
  <path
     d="M96.82 354.016c.57-9.305 1.239-18.602 1.899-27.903.672-9.293 1.383-18.586 2.11-27.879a6491.369 6491.369 0 0 1 4.636-55.726 6338.033 6338.033 0 0 1 5.11-55.684c1.792-18.554 3.655-37.101 5.741-55.629-1.164 18.61-2.55 37.196-4.007 55.782a6337.193 6337.193 0 0 1-4.637 55.726 6337.777 6337.777 0 0 1-5.113 55.684c-.895 9.277-1.813 18.55-2.762 27.824-.965 9.27-1.918 18.539-2.977 27.805"
     id="path66" />
  <path
     d="M111.555 361.422c-.246-9.32-.39-18.64-.543-27.961-.137-9.32-.239-18.637-.325-27.957a6509.005 6509.005 0 0 1-.003-111.836c.171-18.64.41-37.281.87-55.918.462 18.637.7 37.277.872 55.918a6507.227 6507.227 0 0 1-.004 111.836c-.086 9.32-.188 18.637-.328 27.957-.149 9.32-.297 18.64-.54 27.96M126.875 367.516c-1.055-9.266-2.012-18.536-2.973-27.805-.953-9.273-1.867-18.55-2.765-27.824a6491.376 6491.376 0 0 1-5.11-55.684 6337.656 6337.656 0 0 1-4.64-55.726c-1.453-18.586-2.84-37.172-4.004-55.782 2.082 18.528 3.945 37.075 5.738 55.63a6490.886 6490.886 0 0 1 9.746 111.41c.727 9.288 1.438 18.585 2.11 27.878.664 9.297 1.332 18.598 1.898 27.903"
     id="path67" />
  <path
     d="M142.672 372.25c-1.86-9.137-3.621-18.29-5.387-27.441a4659.82 4659.82 0 0 1-5.18-27.477 6571.06 6571.06 0 0 1-19.421-110.137c-3.07-18.386-6.07-36.78-8.852-55.218 3.691 18.273 7.164 36.59 10.566 54.918a6266.839 6266.839 0 0 1 9.946 55.023 6571.928 6571.928 0 0 1 9.472 55.113c1.536 9.192 3.051 18.387 4.532 27.59 1.472 9.203 2.945 18.406 4.324 27.629"
     id="path68" />
  <path
     d="M158.82 375.59c-2.648-8.938-5.203-17.902-7.761-26.867a5280.722 5280.722 0 0 1-7.551-26.922 6431.567 6431.567 0 0 1-14.703-53.95 6285.594 6285.594 0 0 1-14.243-54.074c-4.66-18.047-9.253-36.113-13.632-54.238 5.27 17.887 10.324 35.828 15.312 53.785 4.98 17.965 9.88 35.95 14.703 53.953a6432.035 6432.035 0 0 1 14.239 54.075 4585.501 4585.501 0 0 1 6.921 27.093c2.266 9.04 4.54 18.078 6.715 27.145"
     id="path69" />
  <g
     clip-path="url(#d)"
     transform="translate(-651 -388.742)"
     id="g70">
    <path
       d="M826.195 766.254c-3.414-8.676-6.738-17.383-10.07-26.09a4914.127 4914.127 0 0 1-9.867-26.16 6297.379 6297.379 0 0 1-19.352-52.465 6295.64 6295.64 0 0 1-18.902-52.625c-6.215-17.574-12.367-35.172-18.309-52.844 6.809 17.356 13.41 34.79 19.946 52.246a6439.28 6439.28 0 0 1 19.347 52.465 6439.544 6439.544 0 0 1 18.899 52.63c3.11 8.784 6.199 17.577 9.254 26.382 3.047 8.812 6.097 17.617 9.054 26.46"
       id="path70" />
  </g>
  <g
     clip-path="url(#e)"
     transform="translate(-651 -388.742)"
     id="g71">
    <path
       d="M842.68 766.738c-4.16-8.343-8.23-16.73-12.309-25.113a4971.596 4971.596 0 0 1-12.11-25.2 6345.81 6345.81 0 0 1-23.85-50.577 6345.87 6345.87 0 0 1-23.419-50.778c-7.719-16.968-15.383-33.96-22.84-51.047 8.293 16.696 16.387 33.489 24.422 50.309a6410.312 6410.312 0 0 1 23.844 50.578 6410.778 6410.778 0 0 1 23.418 50.781c3.86 8.48 7.707 16.973 11.52 25.477 3.8 8.512 7.609 17.02 11.324 25.57"
       id="path71" />
  </g>
  <path
     d="M208.14 377.043c-4.87-7.95-9.656-15.95-14.449-23.945-4.777-8-9.527-16.02-14.261-24.047a6538.104 6538.104 0 0 1-28.168-48.309 6402.307 6402.307 0 0 1-27.754-48.543c-9.172-16.226-18.281-32.488-27.203-48.863 9.718 15.914 19.246 31.937 28.715 47.992a6402.012 6402.012 0 0 1 28.164 48.309 6459.66 6459.66 0 0 1 27.75 48.547 4802.737 4802.737 0 0 1 13.695 24.375c4.531 8.148 9.062 16.289 13.512 24.484"
     id="path72" />
  <path
     d="M224.457 374.66c-5.543-7.496-11.008-15.047-16.48-22.594a5216.212 5216.212 0 0 1-16.305-22.714 6771.328 6771.328 0 0 1-32.27-45.668 6500.67 6500.67 0 0 1-31.879-45.942c-10.55-15.367-21.043-30.773-31.359-46.304 11.07 15.003 21.957 30.136 32.79 45.304a6412.014 6412.014 0 0 1 32.265 45.672 6324.812 6324.812 0 0 1 31.879 45.941 4907.069 4907.069 0 0 1 15.765 23.09c5.223 7.72 10.45 15.438 15.594 23.215"
     id="path73" />
  <path
     d="M240.504 370.863c-6.18-6.984-12.277-14.031-18.387-21.07a4696.6 4696.6 0 0 1-18.222-21.211 6372.557 6372.557 0 0 1-36.125-42.68 6258.379 6258.379 0 0 1-35.762-42.988c-11.852-14.387-23.649-28.82-35.278-43.394 12.336 13.98 24.5 28.105 36.61 42.273a6472.955 6472.955 0 0 1 36.125 42.684 6472.497 6472.497 0 0 1 35.762 42.992 4492.95 4492.95 0 0 1 17.718 21.629c5.875 7.234 11.754 14.468 17.559 21.765"
     id="path74" />
  <path
     d="M256.156 365.68c-6.761-6.418-13.453-12.903-20.148-19.387a4718.794 4718.794 0 0 1-20.004-19.54 6505.607 6505.607 0 0 1-39.707-39.37 6187.192 6187.192 0 0 1-39.375-39.707c-13.059-13.301-26.07-26.649-38.922-40.156 13.504 12.855 26.855 25.867 40.156 38.925a6395.338 6395.338 0 0 1 39.707 39.371 6621.3 6621.3 0 0 1 39.371 39.711 4716.32 4716.32 0 0 1 19.536 20c6.484 6.7 12.972 13.391 19.386 20.153"
     id="path75" />
  <path
     d="M271.3 359.152c-7.296-5.8-14.527-11.68-21.765-17.554a4692.743 4692.743 0 0 1-21.625-17.723 6373.229 6373.229 0 0 1-42.992-35.758 6472.65 6472.65 0 0 1-42.684-36.125c-14.168-12.113-28.293-24.277-42.273-36.61 14.574 11.626 29.008 23.427 43.394 35.274a6373.108 6373.108 0 0 1 42.989 35.762 6491.28 6491.28 0 0 1 42.68 36.129 4489.985 4489.985 0 0 1 21.206 18.223c7.043 6.105 14.09 12.207 21.07 18.382"
     id="path76" />
  <path
     d="M285.816 351.332c-7.773-5.145-15.492-10.371-23.21-15.59a5223.845 5223.845 0 0 1-23.09-15.77 6325.028 6325.028 0 0 1-45.942-31.878 6288.26 6288.26 0 0 1-45.672-32.266c-15.168-10.832-30.3-21.719-45.304-32.785 15.535 10.312 30.937 20.805 46.304 31.36a6167.99 6167.99 0 0 1 45.942 31.878 6411.248 6411.248 0 0 1 45.668 32.27 4628.239 4628.239 0 0 1 22.715 16.304c7.546 5.47 15.097 10.934 22.59 16.477"
     id="path77" />
  <path
     d="M299.598 342.277c-8.192-4.449-16.336-8.984-24.485-13.511-8.136-4.54-16.261-9.11-24.375-13.696a6619.005 6619.005 0 0 1-48.547-27.75 6480.744 6480.744 0 0 1-48.308-28.164c-16.055-9.469-32.078-18.996-47.988-28.715 16.37 8.922 32.632 18.036 48.859 27.204a6537.872 6537.872 0 0 1 96.852 55.922c8.027 4.734 16.05 9.484 24.05 14.261 7.996 4.793 15.992 9.578 23.942 14.45"
     id="path78" />
  <path
     d="M312.54 332.055c-8.552-3.72-17.06-7.524-25.571-11.325a5132.992 5132.992 0 0 1-25.477-11.52 6410.419 6410.419 0 0 1-50.781-23.417 6345.757 6345.757 0 0 1-50.578-23.844c-16.82-8.035-33.613-16.129-50.313-24.422 17.09 7.457 34.082 15.121 51.051 22.844a6211.56 6211.56 0 0 1 50.777 23.414 6346.161 6346.161 0 0 1 50.579 23.852c8.41 4.015 16.812 8.047 25.199 12.113 8.383 4.074 16.77 8.145 25.113 12.305"
     id="path79" />
  <path
     d="M324.535 320.742c-8.84-2.957-17.648-6.008-26.457-9.054a4590.397 4590.397 0 0 1-26.387-9.254 6643.59 6643.59 0 0 1-52.625-18.899 6439.793 6439.793 0 0 1-52.464-19.348c-17.457-6.535-34.891-13.136-52.25-19.945 17.675 5.942 35.273 12.094 52.843 18.309a6296.955 6296.955 0 0 1 52.63 18.902 6493.692 6493.692 0 0 1 52.464 19.348c8.727 3.27 17.45 6.55 26.16 9.87 8.703 3.329 17.41 6.653 26.086 10.071M335.504 308.43c-9.066-2.176-18.106-4.45-27.149-6.715-9.039-2.277-18.066-4.59-27.09-6.922a6432.034 6432.034 0 0 1-54.074-14.238 6431.948 6431.948 0 0 1-53.953-14.703c-17.957-4.989-35.902-10.043-53.785-15.313 18.121 4.379 36.188 8.969 54.238 13.629a6284.695 6284.695 0 0 1 54.07 14.246 6432.816 6432.816 0 0 1 53.954 14.703c8.98 2.496 17.953 5.004 26.922 7.551 8.96 2.559 17.926 5.113 26.867 7.762"
     id="path80" />
  <path
     d="M345.355 295.207c-9.222-1.379-18.425-2.855-27.628-4.324a4664.301 4664.301 0 0 1-27.59-4.531 6416.205 6416.205 0 0 1-55.114-9.477 6415.668 6415.668 0 0 1-55.027-9.941c-18.324-3.407-36.64-6.88-54.914-10.567 18.434 2.781 36.832 5.781 55.219 8.852a6266.755 6266.755 0 0 1 55.11 9.476 6415.51 6415.51 0 0 1 55.027 9.946 5075.82 5075.82 0 0 1 27.476 5.175c9.152 1.77 18.305 3.532 27.441 5.391M354.016 281.176c-9.305-.57-18.602-1.239-27.903-1.899a4778.106 4778.106 0 0 1-27.879-2.113 6478.253 6478.253 0 0 1-55.726-4.633 6476.999 6476.999 0 0 1-55.684-5.11c-18.554-1.792-37.101-3.655-55.629-5.741 18.61 1.164 37.2 2.55 55.782 4.004a6491.046 6491.046 0 0 1 55.726 4.64 6337.777 6337.777 0 0 1 55.684 5.114c9.277.894 18.55 1.808 27.824 2.761 9.27.961 18.539 1.918 27.805 2.977"
     id="path81" />
  <path
     d="M361.422 266.441c-9.32.243-18.64.387-27.957.54-9.32.14-18.64.242-27.961.328-18.64.164-37.277.238-55.918.238a6348.94 6348.94 0 0 1-55.918-.235c-18.64-.171-37.277-.41-55.918-.87 18.64-.462 37.277-.7 55.918-.872a6510.76 6510.76 0 0 1 111.836.004c9.32.082 18.64.188 27.96.324 9.317.153 18.638.297 27.958.543"
     id="path82" />
  <path
     d="M367.516 251.117c-9.262 1.059-18.536 2.016-27.805 2.977-9.274.953-18.547 1.867-27.828 2.761a6310.752 6310.752 0 0 1-55.684 5.114 6324.261 6324.261 0 0 1-55.722 4.636c-18.586 1.458-37.176 2.844-55.782 4.008 18.528-2.086 37.075-3.945 55.63-5.742a6476.998 6476.998 0 0 1 55.683-5.11 6490.886 6490.886 0 0 1 55.726-4.632c9.29-.73 18.586-1.438 27.88-2.113 9.296-.66 18.597-1.328 27.902-1.899"
     id="path83" />
  <path
     d="M372.25 235.324c-9.137 1.86-18.29 3.621-27.441 5.387a4360.746 4360.746 0 0 1-27.477 5.176 6388.636 6388.636 0 0 1-55.027 9.949 6388.946 6388.946 0 0 1-55.11 9.476c-18.386 3.067-36.78 6.07-55.218 8.852 18.277-3.691 36.59-7.164 54.918-10.566a6267.832 6267.832 0 0 1 55.027-9.946 6415.238 6415.238 0 0 1 55.11-9.472c9.19-1.535 18.39-3.055 27.59-4.535 9.206-1.47 18.41-2.946 27.628-4.32"
     id="path84" />
  <path
     d="M375.59 219.176c-8.938 2.648-17.902 5.199-26.867 7.758a4907.033 4907.033 0 0 1-26.922 7.554 6431.567 6431.567 0 0 1-53.95 14.703 6285.497 6285.497 0 0 1-54.074 14.243c-18.047 4.66-36.113 9.254-54.238 13.632 17.887-5.27 35.828-10.324 53.79-15.316 17.96-4.98 35.944-9.875 53.952-14.7 18-4.823 36.028-9.573 54.07-14.241 9.024-2.329 18.055-4.641 27.094-6.918 9.04-2.266 18.082-4.54 27.145-6.715"
     id="path85" />
  <path
     d="M377.512 202.797c-8.676 3.418-17.383 6.742-26.09 10.07-8.711 3.32-17.43 6.606-26.16 9.871A6645.44 6645.44 0 0 1 272.8 242.09a6439.473 6439.473 0 0 1-52.63 18.902c-17.573 6.215-35.171 12.363-52.843 18.305 17.356-6.809 34.79-13.406 52.246-19.942a6348.594 6348.594 0 0 1 52.465-19.347 6296.655 6296.655 0 0 1 52.629-18.899c8.785-3.109 17.578-6.199 26.387-9.257 8.808-3.043 17.613-6.098 26.457-9.055"
     id="path86" />
  <g
     clip-path="url(#f)"
     transform="translate(-651 -388.742)"
     id="g87">
    <path
       d="M1028.996 575.059c-8.344 4.16-16.73 8.23-25.11 12.304a4803.65 4803.65 0 0 1-25.198 12.114 6411.675 6411.675 0 0 1-50.583 23.847 6346.22 6346.22 0 0 1-50.777 23.418c-16.965 7.723-33.96 15.383-51.047 22.844 16.7-8.297 33.489-16.39 50.309-24.422a6553.875 6553.875 0 0 1 101.36-47.262 4796.473 4796.473 0 0 1 25.476-11.52c8.515-3.8 17.02-7.609 25.57-11.323"
       id="path87" />
  </g>
  <path
     d="M377.043 169.855c-7.945 4.872-15.945 9.657-23.941 14.446a4987.733 4987.733 0 0 1-24.051 14.265 6537.21 6537.21 0 0 1-48.305 28.164 6403.086 6403.086 0 0 1-48.547 27.754c-16.226 9.172-32.488 18.286-48.863 27.207 15.914-9.722 31.937-19.246 47.992-28.714a6272.08 6272.08 0 0 1 48.309-28.165 6402.304 6402.304 0 0 1 48.547-27.75c8.113-4.59 16.234-9.16 24.375-13.699 8.148-4.527 16.293-9.062 24.484-13.508"
     id="path88" />
  <path
     d="M374.66 153.535c-7.496 5.547-15.047 11.012-22.594 16.485a4903.601 4903.601 0 0 1-22.714 16.3 6501.58 6501.58 0 0 1-45.668 32.27 6087.98 6087.98 0 0 1-45.942 31.879c-15.367 10.554-30.773 21.047-46.304 31.363 15.003-11.07 30.136-21.957 45.304-32.789a6288.258 6288.258 0 0 1 45.672-32.266 6325.25 6325.25 0 0 1 45.941-31.879 4907.587 4907.587 0 0 1 23.09-15.765c7.723-5.223 15.438-10.45 23.215-15.598"
     id="path89" />
  <path
     d="M370.863 137.488c-6.984 6.18-14.031 12.282-21.07 18.39a4696.2 4696.2 0 0 1-21.211 18.22 6258.438 6258.438 0 0 1-42.68 36.129 6373.108 6373.108 0 0 1-42.988 35.761c-14.387 11.852-28.82 23.649-43.394 35.278 13.98-12.336 28.105-24.5 42.277-36.614a6164.94 6164.94 0 0 1 42.683-36.12 6373.108 6373.108 0 0 1 42.989-35.762 4739.308 4739.308 0 0 1 21.629-17.723c7.234-5.875 14.468-11.754 21.765-17.559"
     id="path90" />
  <path
     d="M365.68 121.836c-6.418 6.762-12.903 13.453-19.387 20.152a4490.472 4490.472 0 0 1-19.54 20 6396.9 6396.9 0 0 1-39.37 39.711 6289.098 6289.098 0 0 1-39.707 39.371c-13.301 13.063-26.649 26.07-40.153 38.926 12.852-13.508 25.864-26.855 38.922-40.156a6505.895 6505.895 0 0 1 39.371-39.707 6506.25 6506.25 0 0 1 39.711-39.371 4968.796 4968.796 0 0 1 20-19.54c6.7-6.48 13.391-12.968 20.153-19.386"
     id="path91" />
  <path
     d="M359.156 106.691c-5.804 7.297-11.683 14.532-17.558 21.77a4647.716 4647.716 0 0 1-17.723 21.625 6372.542 6372.542 0 0 1-35.758 42.988 6373.915 6373.915 0 0 1-36.125 42.688c-12.113 14.168-24.277 28.293-36.61 42.273 11.63-14.574 23.427-29.008 35.274-43.394a6373.674 6373.674 0 0 1 35.766-42.989 6372.855 6372.855 0 0 1 36.125-42.68c6.055-7.09 12.125-14.16 18.223-21.21 6.105-7.04 12.207-14.086 18.386-21.07"
     id="path92" />
  <path
     d="M351.332 92.176c-5.144 7.773-10.371 15.492-15.59 23.215a4626.51 4626.51 0 0 1-15.77 23.09 6633.285 6633.285 0 0 1-31.874 45.94 6323.799 6323.799 0 0 1-32.27 45.669C245 245.262 234.11 260.395 223.04 275.398c10.316-15.535 20.809-30.937 31.36-46.304a6451.177 6451.177 0 0 1 31.882-45.942 6411.57 6411.57 0 0 1 32.27-45.668 4904.14 4904.14 0 0 1 16.3-22.714c5.473-7.551 10.938-15.098 16.481-22.594"
     id="path93" />
  <path
     d="M342.277 78.398c-4.449 8.192-8.984 16.336-13.511 24.48-4.54 8.142-9.11 16.267-13.696 24.38a6480.135 6480.135 0 0 1-27.754 48.547 6401.128 6401.128 0 0 1-28.16 48.304c-9.469 16.059-18.996 32.082-28.715 47.993 8.918-16.372 18.032-32.633 27.204-48.864a6271.79 6271.79 0 0 1 27.757-48.543 6401.777 6401.777 0 0 1 28.164-48.304c4.735-8.032 9.485-16.051 14.262-24.051 4.793-7.996 9.578-15.996 14.45-23.942"
     id="path94" />
  <path
     d="M332.055 65.457c-3.715 8.55-7.524 17.059-11.325 25.57a5133.911 5133.911 0 0 1-11.52 25.477 6485.715 6485.715 0 0 1-23.413 50.777 6485.882 6485.882 0 0 1-23.848 50.582c-8.031 16.82-16.125 33.61-24.422 50.309 7.457-17.086 15.121-34.082 22.844-51.047a6212.26 6212.26 0 0 1 23.418-50.777 6410.868 6410.868 0 0 1 23.848-50.578c4.015-8.41 8.047-16.817 12.113-25.204 4.074-8.382 8.145-16.765 12.305-25.109"
     id="path95" />
  <path
     d="M320.742 53.46c-2.957 8.84-6.008 17.65-9.05 26.458a4909.852 4909.852 0 0 1-9.258 26.387 6643.589 6643.589 0 0 1-18.899 52.625 6439.793 6439.793 0 0 1-19.348 52.465c-6.535 17.457-13.136 34.89-19.945 52.246 5.942-17.672 12.094-35.27 18.309-52.844a6296.485 6296.485 0 0 1 18.902-52.625 6297.51 6297.51 0 0 1 19.352-52.465c3.265-8.727 6.547-17.45 9.867-26.16 3.328-8.707 6.656-17.414 10.07-26.086"
     id="path96" />
  <path
     d="M308.43 42.492c-2.176 9.067-4.45 18.106-6.715 27.149a5000.389 5000.389 0 0 1-6.918 27.09 6585.549 6585.549 0 0 1-28.942 108.027c-4.992 17.957-10.046 35.902-15.316 53.785 4.379-18.125 8.973-36.188 13.633-54.238a6285.958 6285.958 0 0 1 14.242-54.075 6584.725 6584.725 0 0 1 14.703-53.949c2.496-8.98 5.008-17.957 7.555-26.922 2.558-8.964 5.11-17.925 7.758-26.867"
     id="path97" />
  <path
     d="M295.207 32.64c-1.379 9.223-2.852 18.426-4.324 27.63a4664.301 4664.301 0 0 1-4.531 27.59 6388.958 6388.958 0 0 1-9.477 55.109 6100.59 6100.59 0 0 1-9.941 55.027c-3.407 18.328-6.875 36.645-10.567 54.918 2.781-18.434 5.781-36.832 8.852-55.219a6415.001 6415.001 0 0 1 9.476-55.11c3.239-18.355 6.547-36.698 9.946-55.026a5004.308 5004.308 0 0 1 5.175-27.477c1.77-9.152 3.532-18.305 5.391-27.441"
     id="path98" />
  <path
     d="M281.176 23.98c-.57 9.305-1.239 18.602-1.899 27.899-.672 9.297-1.382 18.59-2.109 27.879a6625.39 6625.39 0 0 1-9.746 111.414c-1.793 18.55-3.656 37.101-5.742 55.629 1.164-18.61 2.554-37.2 4.007-55.781a6337.577 6337.577 0 0 1 4.637-55.727 6338.16 6338.16 0 0 1 5.113-55.684c.895-9.277 1.81-18.55 2.762-27.824.965-9.27 1.918-18.543 2.977-27.805"
     id="path99" />
  <path
     d="M266.441 16.574c.247 9.32.391 18.637.54 27.957.14 9.324.242 18.64.328 27.961a6508.6 6508.6 0 0 1 .004 111.836c-.172 18.637-.41 37.277-.872 55.918-.46-18.64-.699-37.281-.87-55.918-.165-18.64-.239-37.277-.235-55.918 0-18.637.074-37.277.238-55.918.082-9.32.188-18.637.324-27.96.153-9.321.297-18.637.543-27.958M166.621 118.406c5.992-2.86-6.594 1.188-9.363 2.828l.824-.027c-.762.82 5.043-1.644 8.54-2.8zM116.703 211.219c-1.156-4.227-1.55-10.614-.758-9.063-.761-6.414-.914-7.965-1.34-9.578-.332-1.61-.882-3.344-.21-10.187-2.676 11.617 1.03 27.187 4.953 38.742 2.039 4.594 2.797 4.562 1.855 2.222-1.61-3.347-3.16-8.12-4.5-12.136zM129.352 237.281c.304-.636-4.989-9.031-6.72-12.922-.335 1.73 4.044 9.579 6.75 13.41-.062-.242.18-.183-.03-.488zm0 0"
     id="path100" />
  <path
     d="M129.383 237.738c.058.184.273.516.941 1.278a24.275 24.275 0 0 1-.941-1.278zM150.36 255.742a59.361 59.361 0 0 1-4.075-2.738l.79 1.613c1.187.82 2.433 1.52 3.648 2.309-6.262-4.106 4.804 2.312-.364-1.184zM155.738 257.992c-1.61-1.035-.972-1.215-3.648-2.523-2.582-1.492 2.496 2.281 3.648 2.523zM181.215 115.184c6.84-.762 14.105-1.247 20.976-.211 1.399.058 2.797.18 4.227.273-8.027-2.223-22.953-2.707-32.559.18-2.586 1.46 2.067-.211 7.356-.242zm0 0"
     id="path101" />
</svg>
</div>

<div id="cercle" class="svgs center">
<svg
   class="center"
   width="503.995"
   height="503.995"
   preserveAspectRatio="xMidYMid"
   version="1.0"
   viewBox="0 0 377.996 377.996"
   sodipodi:docname="test-cercle.svg"
   inkscape:version="1.3 (0e150ed6c4, 2023-07-21)"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
   <title>Centre du soleil noir</title>
  <defs
     id="defs6">
    <clipPath
       id="b">
      <path
         d="M826.246 575.016h202.75v94.578h-202.75Zm0 0"
         id="path1" />
    </clipPath>
    <clipPath
       id="c">
      <path
         d="M837 388.742h95V592h-95zm0 0"
         id="path2" />
    </clipPath>
    <clipPath
       id="d">
      <path
         d="M749 556h78v210.742h-78zm0 0"
         id="path3" />
    </clipPath>
    <clipPath
       id="e">
      <path
         d="M748.125 564h94.578v202.738h-94.578Zm0 0"
         id="path4" />
    </clipPath>
    <clipPath
       id="f">
      <path
         d="M826.246 575.016h202.75v94.578h-202.75Zm0 0"
         id="path5" />
    </clipPath>
    <clipPath
       id="g">
      <path
         d="M766 503h151v151.234H766Zm0 0"
         id="path6" />
    </clipPath>
    <filter
       id="a"
       width="1"
       height="1"
       x="0"
       y="0">
      <feColorMatrix
         color-interpolation-filters="sRGB"
         values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 1 0"
         id="feColorMatrix6" />
    </filter>
  </defs>
  <g
     id="circle"
     clip-path="url(#g)"
     transform="translate(-651 -388.742)">
    <path
       d="M912.84 547.719c-.211-.399-.426-.762-.457-.73-3.617-8-10.457-18.583-18.453-24.239 3.07 3.223 3.132 3.344 7.511 8.7-4.046-3.317-7.023-8-11.949-11.864 3.801 3.348-1.582-.578-5.199-2.887-6.504-4.926-18.606-10.308-29.672-11.922-4.742-.972-20.46-1.277-18.117-.09-6.66.7-7.692.153-12.68 1.032-13.832 4.804-26.633 7.816-37.453 20.558.211-1.214-5.262 4.836-7.113 7.45-4.684 5.293-11.34 20.406-8.696 17.546 2.31-4.011 5.653-13.042 10.852-18.152 4.348-4.351 2.34-1.855-.457 1.945-2.824 3.801-5.773 9.336-5.32 9.672.73-1.613 1.855-2.07 4.5-6.66-2.703 4.563-2.067 4.106-.942 2.86a71.133 71.133 0 0 0-4.406 8.085c-1.066 1.188-1.766 1.735-1.918 1.188-6.84 12.469-6.96 25.82-5.652 41.816.21 3.801 2.37 11.524 3.129 11.676.914-.062-2.856-10.734-2.797-17.61 1.277 7.302 3.222 19.77 8.453 28.56-.367-.946-.73-1.887-1.035-2.829a73.98 73.98 0 0 0 9.152 14.625c1.309 1.824 2.707 3.528 4.195 5.051-.761-.578-1.52-1.156-2.25-1.797 3.496 4.137 7.903 8.91 9.637 9.156-2.797-2.375-3.586-3.437-6.262-5.78-.273-.606 1.368.823 2.13 1.339a75.04 75.04 0 0 0 10.488 8.121c.605.453 1.183.852 1.671 1.246.82.457 2.067 1.094 3.465 1.762 10.336 5.476 22.102 8.578 34.598 8.578 11.277 0 21.95-2.523 31.527-7.055 1-.336 2.004-.672 2.34-.699 4.043-2.223 7.996-4.93 11.735-8 17.238-13.531 28.332-34.578 28.332-58.207 0-1.152-.028-2.281-.09-3.433 1.277-5.477 1.582-16.301-2.797-29.012zm-143.371 13.32c-.184 1.152-.305 2.309-.426 3.465.516-1.399.973-2.797 1.578-4.168-1.488 6.36-2.25 3.68-2.95 10.187-.3-2.828.368-3.617 1.798-9.484zm0 0"
       id="path102" />
  </g>
</svg>
</div>
