html {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  scroll-behavior: smooth !important;
}

body {
  height: 100%;
  color: white;
  padding: 0rem 1.5rem;

  background-image: url("/user/themes/astro/images/fond-allonge.jpg"),
    linear-gradient(#041374, #041374);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: background-position 1s;
}

body.fond-astro {
  background-position: top;
}

a,
p,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  &::selection {
    text-shadow:
      0 0 0.2em white,
      0 0 0.1em white;
    -webkit-text-stroke: white 1px;
    color: black;
    background: #ffffff44;
  }
}

a {
  color: white;
  text-decoration: none;
}

p a {
  font-weight: 700;
}

strong {
  font-style: italic;
}

select {
  padding: 0.3em 0.6em;
}

.hidden {
  display: none;
}

@media screen and (max-width: 968px) {
  .page {
    padding-top: 8rem;
    padding-bottom: 1rem;
  }

  .desktop {
    display: none;
  }

  #titre-site,
  p.nav,
  h2.title {
    backdrop-filter: blur(2px);
    border-radius: 1em;
    padding: 0.1em;
  }
}
