@font-face {
  font-family: "DarkerGrotesque";
  src: url("../fonts/DarkerGrotesque_variable.woff2") format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "Sinistre";
  src: url("../fonts/Sinistre-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

// Typescale 1.25
$s-2: 0.64rem;
$s-1: 0.8rem;
$s0: 1rem;
$s1: 1.25rem;
$s2: 1.563rem;
$s3: 1.953rem;
$s4: 2.441rem;

html,
body {
  font-family: "DarkerGrotesque", sans-serif;
  font-size: clamp(1.15rem, 0.5rem + 0.7vw, 3rem);
  line-height: 1.3;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // font-family: "TAN Pearl", serif;
  font-family: "Sinistre", serif;
  line-height: 1.2;
  font-weight: normal;
}

nav {
  // font-family: "TAN Pearl", serif;
  font-family: "Sinistre", serif;
  font-weight: normal;
}

h1 {
  font-size: $s4;
}

h2 {
  font-size: $s3;
}

h3 {
  font-size: $s2;
}

h4 {
  font-size: $s1;
}

p {
  margin: 0;
  font-size: $s1;
}

p + p {
  margin-top: $s-2;
}

em {
  font-style: italic;
}

#header {
  font-size: $s1;
}

textarea,
input,
select {
  font-family: "DarkerGrotesque", sans-serif;
  font-size: $s-1;
}

input[type="submit"] {
  font-family: "DarkerGrotesque", sans-serif;
  font-size: $s0;
  padding: 0.2rem 1rem;
  cursor: pointer;
}

button[type="submit"] {
  font-family: "DarkerGrotesque", sans-serif;
  font-size: $s0;
}

.required {
  vertical-align: super;
  font-size: 1em;
}

#intro p,
#resume p {
  font-family: "Sinistre";
  font-size: $s3;
}

#meaning {
  font-family: "Sinistre";
  font-size: $s0;
}

#resume {
  font-size: $s4;
}

#titre-site p,
p.nav {
  font-family: "Sinistre", sans-serif;
  font-size: $s1;
}

@media screen and (max-width: 968px) {
  h1 {
    font-size: $s3;
  }

  h4 {
    font-size: $s0;
  }

  // #response p {
  //   font-size: $s2 !important;
  // }

  .nav {
    font-size: $s2;
  }
}
