.page {
  height: 100vh;
  padding-top: 6rem;
  padding-bottom: 5rem;

  position: relative;
}

#qui-suis-je {
  padding-bottom: 0;
}

.container {
  display: flex;
  gap: 2rem;
  flex-direction: row;
}

.page:not(#astro) {
  .container {
    padding-top: 2rem;
  }
}

.agauche,
.adroite {
  flex: 1 1 50%;
}

.agauche {
  padding-left: 2rem;
  overflow-y: auto;
  padding-bottom: 2rem;

  h1 {
    margin-bottom: 5rem;
    margin-bottom: 1rem;
  }

  h2 {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
    text-decoration: underline;
  }
}

.adroite {
  text-align: center;

  img {
    max-height: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 968px) {
  .container {
    display: block;
    overflow: auto;
    max-height: 100%;
    padding-top: 8rem;
    padding-bottom: 2rem;

    .agauche {
      overflow: inherit;
      padding-left: 0;
    }
  }
}
