@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* MENUS, HEADER AND FOOTER */
header {
  position: fixed;
  display: flex;
  padding-top: $margin-m;
  z-index: 10;

  nav {
    flex: 0 1 40%;
    margin: $margin-m 0;

    ul {
      display: flex;
      flex-flow: row nowrap;
      list-style: none;
      row-gap: 0em;
      column-gap: 1.5em;
      justify-content: space-between;
      padding-left: 0;
      padding-left: 0;
      margin: 0;

      li {
        width: max-content;
      }
    }
  }

  #titre-site h1,
  #titre-site h2 {
    margin: 0;
  }
}

h2.title {
  position: absolute;
  top: $margin-m;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  display: none;

  opacity: 0;
  transition: opacity 1s ease-in-out;

  &::before,
  &::after {
    content: "·";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &::before {
    left: -$margin-m;
  }

  &::after {
    right: -$margin-m;
  }
}

.active h2.title {
  display: block;
  animation: fadeIn 2s both;
}

.nav {
  text-align: center;
  opacity: 1;
  transition: opacity 1s;
  right: 1rem;
  position: absolute;

  &.top {
    top: $margin-m;
  }

  &.bottom {
    bottom: $margin-m;
  }

  a {
    text-shadow: 0 0 0 white;
    &::before,
    &::after {
      content: "·";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: $s4;
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }

    &::before {
      left: -$margin-m;
    }

    &::after {
      right: -$margin-m;
    }

    &:hover,
    &:active {
      &::before,
      &::after {
        opacity: 1;
      }
    }
  }

  .fleche {
    padding-left: 0.4rem;
    display: inline-block;
    vertical-align: middle;
  }
}

#qui-suis-je .nav {
  top: $margin-m;
}

a {
  text-shadow: 0 0 0 white;
  padding-bottom: 0.3rem;

  &:hover,
  &.active {
    text-shadow:
      0 0 0.4em white,
      0 0 0.2em white,
      0 0 0.1em white;
    transition: text-shadow 0.5s ease-in-out;
  }
}

@media screen and (max-width: 968px) {
  h2.title {
    top: 5.5rem;
  }
}
