{% set grid_size = theme_var('grid-size') %}
{% set compress = theme_var('production-mode') ? '.min.css' : '.css' %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
    <head>
        {% block head deferred %}
            <meta charset="utf-8" />
            <title>
                {% if page.title %}{{ page.title|e("html") }} |{% endif %}
            {{ site.title|e("html") }}</title>
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="icon" type="image/png" sizes="32x32" href="{{ url("theme://images/favicon/favicon-32x32.png") }}">
            <link rel="icon" type="image/png" sizes="16x16" href="{{ url("theme://images/favicon/site.webmanifes") }}">
            <link rel="manifest" href="{{ url("theme://images/favicon/site.webmanifes") }}t">
            <link rel="mask-icon" href="{{ url("theme://images/favicon/safari-pinned-tab.svg") }}" color="#5bbad5">
            <link rel="shortcut icon" href="{{ url("theme://images/favicon/browserconfig.xml") }}">
            <meta name="msapplication-TileColor" content="#da532c">
            <meta name="msapplication-config" content="{{ url("theme://images/favicon/browserconfig.xml") }}">
            <meta name="theme-color" content="#ffffff">
            <link rel="canonical" href="{{ page.url(true, true) }}" />
        {% endblock head %}
        {% block stylesheets %}
            {% do assets.addCss('theme://css/main.css') %}
        {% endblock %}
        {% block javascripts %}
            {% do assets.addJs('theme://js/main.js', {group:'bottom'}) %}
        {% endblock %}
        {% block assets deferred %}
            {{ assets.css() |raw }}
            {{ assets.js() |raw }}
        {% endblock %}
    </head>
    <body id="top"
          class="{% block body_classes %}{{ page.header.body_classes }}{% endblock %}">
        {% block header %}
            <header>
                <div id="titre-site">
                    <a href="/">
                        <h1>Camille Ducellier</h1>
                        <p>Astrologie, astromancie et poésie</p>
                    </a>
                    {% if config.plugins.login.enabled and grav.user.username %}
                    <span class="login-status-wrapper"><i class="fa fa-user"></i>
                    {% include 'partials/login-status.html.twig' %}
                </span>
            {% endif %}
        </div>
    </header>
{% endblock %}
<main>
    {% block body %}
        {% block messages %}
            {% include 'partials/messages.html.twig' ignore missing %}
        {% endblock %}
        {% block content %}{% endblock %}
    {% endblock %}
</main>
{% block footer %}
    {% include 'partials/footer.html.twig' %}
{% endblock %}
{% block bottom %}{{ assets.js("bottom") |raw }}{% endblock %}
</body>
</html>
